@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --orange: orange;
  --white: #fff;
  --black: #000;
}

html {
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
}

p {
  font-weight: 300;
}

a {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  text-decoration: none;
}

.col-left h2 {
  font-weight: 700;
  letter-spacing: 5px;
}

.col-right h2 {
  font-weight: 500;
  letter-spacing: 2px;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

h1 {
  font-size: 3.125rem;
  font-weight: 700;
}

h2 {
  font-size: 1.875rem;
}

h3 {
  font-weight: 400;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  min-height: 600px;
  position: relative;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.border {
  border: 1px solid #000;
}

.col-left {
  width: 62%;
}

.col-right {
  width: 38%;
}

.desc {
  position: absolute;
  right: 0;
  top: 130px;
  background-color: var(--orange);
  width: 45%;
  padding: 30px 0 30px 200px;
}

img {
  z-index: 1;
  position: relative;
}

.left-col-colors {
  background-color: var(--white);
  color: var(--black);
}

.right-col-colors {
  background-color: var(--black);
  color: var(--white);
}

.img-hero {
  margin: 45px 0 0 55px;
  border-radius: 185px;
  border: 20px solid #000;
}

.col-right {
  justify-content: center;
  align-items: center;
}

.orange-border {
  border: 5px solid var(--orange);
  padding: 15px 20px;
  width: 220px;
  text-align: center;
}

.skills {
  width: 75%;
  margin: 20px 0;
}

.progress {
  width: 100%;
  border: 3px solid var(--orange);
  height: 25px;
  margin: 10px 0;
}

.progress.illustrator::after,
.progress.indesign::after,
.progress.photoshop::after,
.progress.msword::after {
  content: "";
  height: 100%;
  display: block;
  background-color: var(--orange);
}

.progress.illustrator::after {
  width: 75%;
}

.progress.photoshop::after {
  width: 85%;
}

.progress.indesign::after {
  width: 70%;
}

.progress.msword::after {
  width: 95%;
}

.orange-bg {
  background-color: var(--orange);
  text-align: right;
  width: 85%;
  padding: 12px 35px 12px 0;
}

.desc {
  color: var(--white);
}

.item {
  justify-content: flex-start;
  align-items: center;
  margin: 15px 0;
}

.square {
  width: 30px;
  margin: 20px;
  height: 30px;
  background-color: var(--orange);
}

.date {
  width: 25%;
}

.item-desc {
  width: 55%;
}

@media (max-width: 768px) {
  html {
    font-size: 70%;
  }
  .container.mobile {
    flex-direction: column;
  }
  .col-left,
  .col-right {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */