.container {
    max-width: 960px;
    margin: 0 auto;
    min-height: 600px;
    position: relative;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.border {
    border: 1px solid #000;
}
.col-left {
    width: 62%;
}
.col-right {
    width: 38%; 
}
.desc {
    position: absolute;
    right: 0;
    top: 130px;
    background-color: var(--orange);
    width: 45%;
    padding: 30px 0 30px 200px;
}
img {
    z-index: 1;
    position: relative;
}
.left-col-colors {
    background-color: var(--white);
    color: var(--black);
}
.right-col-colors {
    background-color: var(--black);
    color: var(--white);
}
.img-hero {
    margin: 45px 0 0 55px;
    border-radius: 185px;
    border: 20px solid #000;
}
// .empty-markup {
//     height: 400px;
// }
.col-right {
    justify-content: center;
    align-items: center;
}
.orange-border {
    border: 5px solid var(--orange);
    padding: 15px 20px;
    width: 220px;
    text-align: center;
}
.skills {
    width: 75%;
    margin: 20px 0;
}
.progress {
    width: 100%;
    border: 3px solid var(--orange);
    height: 25px;
    margin: 10px 0;
}
.progress.illustrator::after,
.progress.indesign::after,
.progress.photoshop::after,
.progress.msword::after {
    content: '';   
    height: 100%;
    display: block;
    background-color: var(--orange);
}
.progress.illustrator::after {
    width: 75%;
}
.progress.photoshop::after {
    width: 85%;
}
.progress.indesign::after {
    width: 70%;
}
.progress.msword::after {
    width: 95%;
}
.orange-bg {
    background-color: var(--orange);
    text-align: right;
    width: 85%;
    padding: 12px 35px 12px 0;
}
.desc {
    color: var(--white);
}
.item {
    justify-content: flex-start;
    align-items: center;
    margin: 15px 0;
}
.square {
    width: 30px;
    margin: 20px;
    height: 30px;
    background-color: var(--orange);
}
.date {
    width: 25%;
}
.item-desc {
    width: 55%;
}
